body{
   font-family: 'Figtree', sans-serif;
   font-weight: 500;
   background-color: hsl(47, 88%, 63%);
   display: flex;
   justify-content:center;
   align-items: center;
   height: 100vh;
}

.card{
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 10px 10px 0px black; 
  max-width: 350px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(0.97);
  box-shadow: 5px 5px 0px black;
}

.card img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
}

.category{
  background-color: hsl(47, 88%, 63%);
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
}

.content {
  margin-top: 10px;
}

.date {
  font-size: 15px;
  color: hsl(0, 0%, 42%);
  margin: 8px 0;
  font-weight: normal;
}

.title{
  font-size: 25px;
  font-weight: 800;
}

.text{
  color: hsl(0, 0%, 59%);
  margin-bottom: 35px;
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  width: fit-content;
}


.author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author .name {
  font-weight: bold;
  font-size: 14px;
}

.attribution {
  margin-left: 25px;
  font-size: 12px;
  text-align: center;
  color: hsl(0, 0%, 40%);
}